{% assign breadcrumbMarkup = '' %}
{% assign tocMarkup = content | toc %}
{% assign finalTitle = title | default: page.inputPath %}
{% if eleventyNavigation.key %}
    {% assign breadcrumb = collections.all | eleventyNavigationBreadcrumb: eleventyNavigation.key, site.navigationOptions %}
    {% if finalTitle == page.inputPath %}
        {% assign finalTitle = eleventyNavigation.key %}
    {% endif %}
    {% capture breadcrumbMarkup %}
        <ul class="d-flex ai-center gap-2 | p-0 m-0 o-auto | fs-2 lh-3 | ls-none">
            <li class="d-flex gap-2"><a href="/" class="c-neutral-800">Home</a>/</li>
            {% if breadcrumb.size > 0 %}
                {% for item in breadcrumb %}
                    <li class="d-flex ai-baseline gap-2">
                        <a href="{{ item.url }}" class="ws-nowrap | c-neutral-800">
                            {{ item.key }}
                        </a> /
                    </li>
                {% endfor %}
            {% endif %}
            <li class="c-neutral-800 ws-nowrap">{{ finalTitle }}</li>
        </ul>
    {% endcapture %}
{% endif  %}<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ finalTitle }}{% if pagination.pageNumber > 0 %} - Page {{ pagination.pageNumber|plus:1 }}{% endif %}</title>

    <meta itemprop="name" content="{{ finalTitle }}">
    <meta name="description" itemprop="description" content="{{ description }}">
    <meta name="application-name" content="{{ finalTitle }}">
    <meta name="author" content="Olivier 3lanc">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="canonical" href="{{ page.url }}" />
    
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="theme-color" content="#FFFFFF">
    
    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-starturl" content="{{ page.url }}">
    <meta name="msapplication-tooltip" content="{{ finalTitle }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="{{ finalTitle }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image_url }}">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ finalTitle }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:image" content="{{ image_url }}">
    
    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="{{ finalTitle }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
    
    <!-- Android -->
    <meta name="theme-color" content="#FFFFFF">
    <meta name="color-scheme" content="light">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="generator" content="{{ eleventy.generator }}">
    
    {% block css_head %} 
        <link rel="stylesheet" href="/assets/css/ds__defaults.css">
        <link rel="stylesheet" href="/assets/css/ds.css">
        {% comment %} <link rel="stylesheet" href="/assets/css/ds__width-twelves.css"> {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/night-owl.min.css">
        {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/nord.min.css"> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/ir-black.min.css"> {% endcomment %}
        {% comment %} <link rel="stylesheet" href="/assets/css/monokai-sublime.css"> {% endcomment %}
    {% endblock %}

</head>
<body class="d-flex fd-column | m-0">
    <div class="d-flex"
        fd-column="xs,sm"
        ai-start="md"
        ai-center="xs,sm"
        pl-5="md">
        <div class="d-flex fd-column | pos-sticky top-0 z-1"
            ai-center="xs,sm"
            w-100="xs,sm"
            w-sidebar="md">
            <nav class="d-flex | pos-fixed bottom-0 left-0 z-1 | w-100"
                d-none="md">
                <div class="d-flex jc-space-between ai-center gap-5 | w-100 | bc-neutral-100 btwidth-1 btstyle-dashed bcolor-neutral-500">
                    <p class="m-0 pl-5 | o-hidden | fvs-wght-400 fs-3 to-ellipsis ws-nowrap">{{ finalTitle }}</p>
                    <button type="button"
                        class="d-flex | p-5 | cur-pointer bc-neutral-200 b-0 brad-3"
                        c-toggle="nav_primary"
                        data-dismiss="true">
                        menu
                    </button>
                </div>
            </nav>
            <nav class="d-flex d-none--xs d-none--sm fd-column | maxw-sidebar maxh-sidebar | bc-neutral-100 brad-3 bwidth-1 bstyle-dashed bcolor-neutral-500"
                mt-5="md"
                c-toggle-name="nav_primary"
                data-opened-state-class="d-flex fd-column | bc-neutral-100 brad-3 bwidth-1 bstyle-dashed bcolor-neutral-500">
                <menu class="d-flex fd-column | pos-sticky top-0 z-1 | m-0 p-0 | ls-none bc-neutral-100 bradtl-3 bradtr-3 bbwidth-1 bbstyle-dashed bcolor-neutral-500">
                    <li class="d-flex ai-center">
                        <a  href="/"
                            class="p-5 | td-none fvs-wght-700 lsp-5 fs-8 tws-balance | c-neutral-900">
                            Documentation Title or Logo
                        </a>
                    </li>
                    <li>
                        <form action="/search/"
                            class="d-flex fd-column | pos-relative | pl-5 pr-5">
                            <label for="searchInput"
                                class="pos-absolute | ml-5 t-tY-50 | fvs-wght-400 fs-1 tt-uppercase | bc-neutral-100">
                                Search
                            </label>
                            <input  id="searchInput"
                                    type="search"
                                    name="search"
                                    class="pl-5 pr-5 pt-3 pb-3 | fs-3 | brad-4 bwidth-1 bstyle-dashed bcolor-neutral-500"
                                    placeholder="Search"
                                    value="">
                        </form>
                    </li>
                    <li class="d-flex ai-center gap-5 | pl-5 pr-5">
                        <a  href="#github"
                            class="d-flex ai-center | pt-5 pb-5 | fvs-wght-400 fs-2 lh-1 tt-uppercase | c-neutral-900">
                            GitHub
                        </a>
                    </li>
                </menu>
                {% assign menu = collections.all | eleventyNavigation | eleventyNavigationToHtml: site.navigationOptions %}
                {% assign currentPageHrefAttribute = '<a href="' | append: page.url | append: '"' %}
                {% capture currentPageReplacementAttribute %}<div class="order-1 | w-100 pl-2">{{ tocMarkup }}</div>{{ currentPageHrefAttribute }} aria-current="page"{% endcapture %}
                {% assign menu = menu | replace: currentPageHrefAttribute, currentPageReplacementAttribute %}
                {% assign menu = menu | replace: '<menu>', '<menu class="d-flex fd-column fg-1 order-1 | m-0 pl-5 | ls-none">' %}
                <div class="h-100 o-auto">
                    {{ menu }}

                </div>
                {% comment %} <div class="pos-sticky bottom-0 p-10 pe-none" style="background: linear-gradient(0deg, white 0%, transparent 100%)"></div> {% endcomment %}
            </nav>
        </div>
        <main class="pos-relative | pl-5 pr-5"
            w-100-minus-sidebar="md"
            w-100="xs,sm">
            
            {% block content %}
                <header class="d-flex fd-column gap-2 | mt-5 pt-7 pb-7 | bc-neutral-100 bwidth-1 bstyle-dashed bcolor-neutral-500 brad-3">
                    <h1 class="m-0 | lsp-5 fvs-wght-700 tws-balance"
                        fs-10="md"
                        fs-9="xs,sm">
                        {{ finalTitle }}
                    </h1>
                    {{ breadcrumbMarkup }}
                    {% if description %}
                        <p class="m-0 | fvs-wght-400 tws-balance fs-7 lsp-3 lh-5"
                            fs-6="xs,sm">
                            {{ description }}
                        </p>
                    {% endif %}
                    {% if tocMarkup != '' %}
                        <details>
                            <summary class="fvs-wght-400 fs-3">
                                Table of content
                            </summary>
                            <div class="mt-5 p-3 | bc-neutral-100 bwidth-1 bstyle-dashed bcolor-neutral-500 brad-3">
                                {{ tocMarkup }}
                            </div>
                        </details>
                    {% endif %}
                </header>
                {{ content | cleanup | autoids }}
                <footer class="pt-11 pb-11">
                    <p class="m-0 | fs-2 | c-neutral-700">11ty LibDoc</p>
                </footer>
            {% endblock %}
            
        </main>
    </div>
    
    {% block js_body %}
        <script src="/assets/js/c-toggle.js"></script>
        <script src="/assets/js/sandbox.js"></script>
        <script src="/assets/js/highlight.min.js"></script>
        <script src="/assets/js/liquid.min.js"></script>
        <script src="/assets/js/ui.js"></script>
        <script>hljs.highlightAll();</script>
    {% endblock %}
</body>
</html>