---
layout: simple_page.liquid
pagination:
    data: collections.myTags
    size: 1
    alias: tag
permalink: "tags/{{ tag }}/index.html"
# eleventyExcludeFromCollections: true
eleventyNavigation:
    parent: Tags list
    key: tag
---
<div>
    <details id="tags_list">
        <summary class="d-flex ai-center | pt-5 pb-5 | fvs-wght-500 fs-3 | bwidth-1 bstyle-dashed bcolor-neutral-500 btwidth-0 brwidth-0 cur-pointer">
            <span class="pl-5 | bbwidth-1 bbstyle-dashed bcolor-neutral-500"></span>
            <span class="d-flex ai-center gap-1 | lsp-2">
                <span class="icon-minus-circle | fs-6 | c-primary-500"></span>
                <span class="icon-plus-circle | fs-6 | c-primary-500"></span>
                Tags list
            </span>
        </summary>
        {% include "tags_list" %}
    </details>
</div>
<ul class="d-flex fd-column gap-3">
    {% for item in collections[tag] %}
        <li>
            <a  href="{{item.page.url}}"
                class="d-flex ai-start gap-5 | p-5 | td-none | bc-primary-100 brad-2 bwidth-1 bstyle-dashed bcolor-primary-500"
                fd-column="xs"
                gap-2="xs">
                <span class="
                    d-flex gap-1 ai-center
                    pl-2 pr-2 pt-1 pb-1 | fs-1 fvs-wght-700 lsp-1 lh-1 | bwidth-1 bstyle-solid bcolor-primary-500 bc-primary-200 c-primary-500 brad-1 bradtl-3 bradbl-3">
                    <span class="icon-tag-simple"></span>
                    {{ tag }}
                </span>
                <span class="d-flex fd-column gap-1 | pl-5 | blwidth-1 blstyle-dashed bcolor-primary-500"
                    bl-0="xs"
                    pl-0="xs">
                    <strong class="fs-5 fvs-500 lh-5">
                        {{item.data.eleventyNavigation.key | default: item.data.title | default: item.page.inputPath }}
                    </strong>
                    <span class="fs-3 fvs-wght-400 lh-5 | c-neutral-700">{{ item.data.description }}</span>
                </span>
            </a>
        </li>
    {% endfor %}
</ul>