---
layout: libdoc_page.liquid
---
<h2>{{ title }}</h2>
<p><strong>Name:</strong> {{ name }}</p>
<p><strong>Type:</strong> {{ type }}</p>
<p><strong>Distance:</strong> {{ distance }}</p>
<p><strong>Notes:</strong> {{ notes }}</p>
{{ content }}

